<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        @*
            ....................／＞　 フ.....................
            ..................| 　_　 _|
            ..............／`ミ _x 彡
            .........../　　　 　 |
            ........./　 ヽ　　 ﾉ
            ／￣|　　 |　|　|
            | (￣ヽ＿_ヽ_)_)
            ＼二つ
        *@
        <h1>
            ░░░░░░░░░░░░░░░░░░░▄▄▄░░░░░░░░░░░░
            ░░░░░░░░░░░░░░░░░░░███▄░░░░░░░░░░░
            ▄░░░░░░░░░░░░▄░░░░░▀████▄▄▄▄▄▄░░░░
            █▄░░░░░░░░░▄██░░░░░░░▀▀█████████░░
            ██████████████░░░░░░░░░░░░░░░▀███░
            ███▀████▀█████░▄▄███████▄▄░░░░████
            ██░░░██░░░████░████████████░░▄███▀
            ▀██▄████▄████░▄█████████████████▀░
            ░▀██████████▀▄████████████████▀░░░
            ░░░▀▀████████████████████████░░░░░
            ░░░░░████▀▀▀████▀░░░░░▀▀█████░░░░░
            ░░░░░████░░░████░░░░██▄░▀████░░░░░
            ░░░░░████░░░████░░░░████░████░░░░░
            ░░░░░████░░░████░░░░████░████░░░░░
            ░░░░░████░░░████░░░░████░████░░░░░
            ░░░░░████░░░████░░░░████░████░░░░░
            ░░░░░████░░░████░░░░████░████░░░░░
            ░░░░░░▀▀░░░░░▀▀░░░░░░▀▀░░░▀▀░░░░░░
        </h1>
    </hgroup>
</body>
</html>
