
@{
    ViewBag.Title = "Login";
}
<div>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Account/style.css">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary InputStyle" type="button" id="Login">Login</button>
                    </div>
                    <input type="text" class="form-control InputFieldStyle" placeholder="Login" id="LoginField" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text InputStyle" id="Password">Password</span>
                    </div>
                    <input type="text" class="form-control InputFieldStyle" id="PasswordField" placeholder="Password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-dark" style="width:100%">Next</button>
    </div>
</div>



